
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}



li {
    list-style: none;

}

a {
    padding: .5rem;
    text-decoration: none;
    border-radius: 5%;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item {
    margin-left: 5rem;
}

.nav_link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #031e44;
}

/* .nav_link:hover{
    color: ;
   
} */

.nav_logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
.active{
    background-color: #000080;
    color: #fff;
    opacity: .7;

}





@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        z-index:2;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav_menu.active {
        left: 0;
    }

    .nav_item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    .contactClass{
        
       
        z-index:0;
        
    }


      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


